@import "tailwindcss";
/* สไตล์สำหรับ Scrollbar ใน Dropdown และ List */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* ความกว้างของแถบเลื่อน */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* พื้นหลังของร่อง Scroll */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e2e8f0; /* สีของตัวเลื่อน (สีเทาอ่อนนวลๆ) */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1; /* สีตอนเอาเมาส์ไปชี้ */
}